/* screen <= 1000 px */
.git-bash-screen {
    flex: 1;
    background-color: #21222C;
    font-family: SFMono-Regular, Consolas, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
    font-size: calc(12px + 6 * ((100vw - 320px) / 1000));
}

/* screen > 1000 px */
@media screen and (min-width: 1000px) {
    .git-bash-screen {
        font-size: 16px;
    }
}

.git-state-screen {
    display: flex;
    flex: 1;
}

.git-pointer-screen {
    flex: 1;
    flex-basis: 40%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.git-commit-screen {
    flex: 1;
    flex-basis: 60%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.app-container {
    width: 100%;
    max-width: 960px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.git-arrow {
    overflow: hidden;
    display: flex;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
}

.git-command-body {
    flex-direction: column-reverse;
}

.text-box-content p {
    margin: 0px;
}

@media (min-width: 480px) {
    .text-box-content p {
        margin: 5px 5px 5px;
    }
}

@media (min-width: 768px) {
    .git-command-body {
        flex-direction: row;
    }
}

.rotate330 {
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    transform: rotate(330deg);
}

.app-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.app-card {
    border: 2px solid #000000;
    box-shadow: 5px 6px 0px #000000;
    margin: 20px 0px 20px 0px;
}

.app-card .card-title {
    font-size: 1rem;
}

.app-card .card-text {
    font-size: 0.8em;
    font-weight: 500;
}

.dev-logo {
    padding: 0px 7px 0px 9px;
    border-radius: 3px;
}

.masthead {
    padding-top: calc(1rem + 90px);
    padding-bottom: 2rem;
}

.masthead .masthead-avatar {
    width: 10rem;
}

.masthead .masthead-heading {
    font-size: 2rem;
    line-height: 2.5rem;
}

.masthead .masthead-subheading {
    font-size: 1.5rem;
}

@media (min-width: 480px) {
    .app-card .card-title {
        font-size: 1.5rem;
    }

    .app-card .card-text {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) {
    .masthead {
        padding-top: calc(1rem + 104px);
        padding-bottom: 6rem;
    }
    .masthead .masthead-avatar {
        width: 15rem;
    }
    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .masthead .masthead-subheading {
        font-size: 2.0rem;
    }
}

.page-section {
    padding: 3rem 0;
}

.page-section .page-section-heading {
    font-size: 2rem;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .page-section {
        padding: 6rem 0;
    }

    .page-section .page-section-heading {
        font-size: 2.25rem;
        line-height: 2rem;
    }
}
