@media screen and (min-width: 320px) {
    .git-bash-screen {
        font-size: calc(12px + 6 * ((100vw - 320px) / 1000));
    }
}

@media screen and (min-width: 1000px) {
    .git-bash-screen {
        font-size: 16px;
    }
}

.git-state-screen {
    display: flex;
    flex: 1;
}

.git-pointer-screen {
    flex: 1;
    flex-basis: 40%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.git-commit-screen {
    flex: 1;
    flex-basis: 60%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.git-bash-screen {
    flex: 1;
    background-color: #21222C;
    font-family: SFMono-Regular, Consolas, Menlo, Monaco, "Liberation Mono", "Courier New", monospace;
}

.app-container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.git-arrow {
    overflow: hidden;
    display: flex;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) {
    .git-command-body {
        flex-direction: column-reverse;
    }
}
@media (min-width: 480px) {
    .git-command-body {
        flex-direction: column-reverse;
    }
}
@media (min-width: 768px) {
    .git-command-body {
        flex-direction: row;
    }
}
@media (min-width: 992px) {
    .app-container {
        max-width: 960px;
    }
}
